<h1>

    <span class="move moveScale" style="--delay: 2s; --duration: 0.4s;  transform-origin: 50% 50%; ">The</span>
    <span class="move moveScale" style="--delay: 2s; --duration: 0.6s; ">starting</span>
    <span class="move moveScale" style="--delay: 2s; --duration: 0.8s; ">point</span>
    <span class="move moveScale" style="--delay: 2s; --duration: 1s; ">of</span>
    <span class="move moveScale" style="--delay: 2s; --duration: 1.2s; ">your</span>
    <span class="move moveScale" style="--delay: 2s; --duration: 1.4s; ">new</span>
    <span class="move moveScale" style="--delay: 2s; --duration: 1.6s; ">website</span>
</h1>