{% extends 'partials/_master.twig' %}

{% block main_container %}
    <div class="subheader">
        <h1 class="drop-left">Features for
            <div class="slidingVertical">
                <span>developers</span>
                <span>designers</span>
                <span>content creators</span>
                <span>you</span>
            </div>
        </h1>
        <div class="button-row">
            {% include "partials/_features_buttons.twig" %}
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content-block">
            <a id="developer"></a>
            <div class="title">
                <h2>For developers</h2>
            </div>
            <div class="features">
                {% setcontent developers = 'features' where { audience: 'developers' } %}
                {% for developer in developers %}
                    <div class="detail">
                        <h3>{{ developer.title }}</h3>

                        <p>{{ developer.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="content-block">
            <a id="designer"></a>
            <div class="title">
                <h2>For designers</h2>
            </div>
            <div class="features">
                {% setcontent designers = 'features' where { audience: 'designers' } %}
                {% for designer in designers %}
                    <div class="detail">
                        <h3>{{ designer.title }}</h3>

                        <p>{{ designer.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "partials/_bottom-block.twig" %}

{% endblock main_container %}
