{% extends 'partials/_master.twig' %}

{% block main %}
    <body class="loading showcase">

    <main>
        <div data-scroll>
            <div class="subheader">
                <h1>{{ contenttype.name }}</h1>
                <p>A fine selection of websites made with Bolt</p>
            </div>
            <div class="content">
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/1.jpg);"><div class="item__img item__img--t1"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">Central view</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Great turbulent clouds emerged into consciousness citizens.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/2.jpg);"><div class="item__img item__img--t2"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">Lost in time</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Brain is the seed of intelligence the sky calls to us a very small stage.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/3.jpg);"><div class="item__img item__img--t3"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">Ready to land</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Cosmos encyclopaedia galactica a billion trillion culture cosmic ocean.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/4.jpg);"><div class="item__img item__img--t1"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">All equal</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Network of wormholes dream of the mind's eye finite but unbounded concept.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/5.jpg);"><div class="item__img item__img--t2"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">Connections</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Two ghostly white figures in coveralls and helmets are softly dancing vastness.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/6.jpg);"><div class="item__img item__img--t3"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">The state of divergence</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Vastness is bearable only through love invent the universe vanquish.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/7.jpg);"><div class="item__img item__img--t1"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">Open perspective</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">The only home we've ever known concept of the number one.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/8.jpg);"><div class="item__img item__img--t3"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">Discovery of shapes</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Decipherment explorations tesseract as a patch of light.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="item__img-wrap" style="--image: url(https://tympanus.net/Tutorials/SmoothScrollAnimations/img/9.jpg);"><div class="item__img item__img--t2"></div></div>
                    <div class="item__caption">
                        <h2 class="item__caption-title">The Observer</h2>
                        <p class="item__caption-url"><a href="" target="_blank" rel="noopener noreferrer">www.url.com</a></p>
                        <p class="item__caption-copy">Astonishment muse about dispassionate extraterrestrial observer.</p>
                        <p class="item__caption-url">Build by: <a href="" target="_blank" rel="noopener noreferrer">A name over here</a></p>
                    </div>
                </div>
            </div>

            <div class="url-list">
                <h3>Honorary mentions</h3>
                <a href="">www.test.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megatest.nl</a>
                <a href="">www.megatestdertestentest.nl</a>
                <a href="">www.test.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megatest.nl</a>
                <a href="">www.megatestdertestentest.nl</a>
            </div>

        </div>

    </main>
    </body>
{% endblock main %}
{% block javascripts %}
    {% include 'partials/_javascripts_showcase.twig' %}
{% endblock javascripts %}
