<div class="columns">
    <div class="bottom-block" transition-style="in:square:bottom-right">
        <h3>Let's get started!</h3>
        <div class="button-wrapper">
            <a class="button" href="">Install Bolt</a>
            <a class="button" href="">view features for developers</a>
        </div>
    </div>
    <div class="bottom-block" transition-style="in:square:bottom-left">
        <h3>Find help for your dream project</h3>
        <div class="button-wrapper">
            <a class="button" href="">Search for a developer</a>
            <a class="button" href="">Add yourself as a developer</a>
        </div>
    </div>
</div>
