{% if owner is not defined %}
    {% set owner = 'bolt' %}
{% endif %}

{% if repo is not defined %}
    {% set repo = 'core' %}
{% endif %}

<div class="contributors-overview">
    <h3>
        {# TODO: update text #}
        Without these contributors it wouldn't be possible
    </h3>
    {% for contributor in github_contributors(owner, repo) %}
        <div class="contributor">
            <img class="avatar" src="{{ contributor.avatar_url }}" alt="{{ contributor.login }} profile image">
            <p class="name mw-100"><a href="{{ contributor.html_url }}">{{ contributor.login }}</a></p>
        </div>
    {% endfor %}
</div>
