{% set current = record.slug|default %}

<div class="col-md-4 text-center">
    <a href="/features-developers"
       class="btn {% if current == 'features-developers' %}btn-primary{% else %}btn-outline-primary{% endif %} wide-button">For
        developers</a>
</div>

<div class="col-md-4 text-center">
    <a href="/features-designers"
       class="btn {% if current == 'features-designers' %}btn-primary{% else %}btn-outline-primary{% endif %} wide-button">For
        designers</a>
</div>
<div class="col-md-4 text-center">
    <a href="/features-editors"
       class="btn {% if current == 'features-editors' %}btn-primary{% else %}btn-outline-primary{% endif %} wide-button">For
        content creators</a>
</div>
