<header class="site-header">
    <div class="wrapper site-header__wrapper">
        <a class="navbar-brand" href="/">
            <img class="logo" src="{{ asset('img/logo.svg') }}" alt="Logo Bolt">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for item in menu_array() %}
                    <li class="nav-item"><a class="nav-link {{ item.class }} {% if item|current %}active{% endif %}"
                                            href="{{ item.link }}">{{ item.label }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>