<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/_head.twig' %}
</head>
<body>

    {% block header %}
    {% include 'partials/_header.twig' with {'compact': true } %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'partials/_footer.twig' %}

</body>
</html>
