{# Start of "CTA" section #}
<div class="row justify-content-center">
    <div class="row cta px-5">
        <div class="col-12">
            <h1 class="titel1">Let's get started</h1>

            <div class="row justify-content-center pt-5 pb-4">
                <div class="col-auto">
                    <a href="https://docs.bolt.cm/installation/installation" class="btn btn-primary button">Install Bolt</a>
                </div>
            </div>
        </div>
    </div>
</div>
{# End of "CTA" section #}