<footer>
    <div class="text-right col-12">
        <div class="row justify-content-around">
            <div class="my-auto">
                <a href="https://twitter.com/boltcms">
                    <i class="fa fa-twitter"></i> Bolt on Twitter
                </a>
            </div>
            <div class="my-auto">
                <a href="https://github.com/bolt/boltcms.io.git">
                    <i class="fa fa-github"></i> Bolt on Github
                </a>
            </div>
            <div class="my-auto">
                Copyright © Bolt, 2020
            </div>
        </div>
    </div>
</footer>
