<header id="header">
    <div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar navbar navbar-expand-lg navbar-dark navbar-custom">
        <a href="/">
            <img class="d-inline" src="/theme/boltcms-2020/images/logo.svg" alt="logo" />
        </a>
        <nav class="ml-auto">
            <ul class="nav justify-content-end">
                {% for item in menu_array() %}
                    <li class="nav-item"><a class="nav-link {{ item.class }} {% if item|current %}active{% endif %}" href="{{ item.link }}">{{ item.label }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
