html, body {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body > div {
    flex: 1 0 auto;
}

body > footer {
    flex-shrink: 0;
}

.detail-page {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

.max-80-characters {
    max-width: 80ch;
}

header {
    background: #fff;
    position: sticky;
    z-index: 1000;
    top: 0;
}

header a:not(.btn-primary) {
    color: #222222;
}

header a:not(.btn-primary).active {
    color: #0278FC;
    font-weight: bold;
}

.shadow {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

a:hover {
    color: #0278FC;
}

.btn-primary {
    background: #0278FC;
    border-radius: 30px;
    color: #E7F2FF;
    text-align: center;
    font-weight: normal;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    color: #222222;
    text-align: center;
    margin-top: 100px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5em;
    }
}

.row1 {
    margin-top: 100px;
    font-size: 20px;
    color: #222222;
    text-align: center;
}

.slider img {
    width: 100%;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #0278FC;
    text-align: center;
}

.tns-nav {
    text-align: center;
}

.tns-nav > .tns-nav-active   {
    background: #0278FC;
}

.tns-controls {
    display:none;
}

.image {
    width: 35px;
    height: 35px;
}
.details {
    font-size: 36px;
    color: #0278FC;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.imagedetails1 {
    width: 35px;
    height: 35px;
}

.imagedetails2  {
    width: 40px;
    height: 40px;
}

.imagedetails3  {
    width: 30px;
    height: 30px;
}

.blok {
    margin-top: 60px;
}

.paragraph {
    margin-top: 15px;
    color: #222222;
    text-align: center;
    line-height: 22px;
}

.background {
    background-color: #EBF4FF;
    text-align: center;
    margin-top: 50px;
}

.btn-outline-primary {
    color: #0278FC;
    border: 1px solid #0278FC;
    border-radius: 30px;
}

.titel {
    font-size: 36px;
    color: #222222;
    text-align: center;
    font-weight: normal;
    margin-top: 70px;
}

.text {
    color: #222222;
    text-align: center;
    margin-top: 25px;
}

.cta {
    background: #0278FC;
    margin-top: 80px;
}

.titel1 {
    margin-top: 20px;
    font-size: 50px;
    color: #EBF4FF;
    text-align: center;
}

.button {
    background: #ffffff;
    border-radius: 30px;
    color: #222222;
    text-align: center;
    width: 150px;
    height: 40px;
    font-weight: normal;
}

.row1 {
    margin-top: 200px;
}

.imagedetails4  {
    margin-bottom: 20px;
    height: 30px;
    width: 30px;
}

.titel2 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #222222;
    margin-top: 10px;
}

.text1 {
    color: #222222;
    line-height: 26px;
    text-align: center;
    margin-top: 25px;
}

.contributors {
    background-color: #EBF4FF;
    padding-top: 20px;
}

.contributors .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contributors1 {
    font-size: 36px;
    color: #0278FC;
    text-align: center;
    font-weight: bold;
    color: #0278FC;
}

.sponsors {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #222222;
    margin-bottom: 35px;
}

.text2 {
    color: #222222;
    line-height: 26px;
    text-align: center;
    margin-bottom: 40px;
}

.row1 {
    margin-top: 100px;
}
.name {
    font-size: .8em;
    color: #0278FC;
    text-align: left;
}

.avatar {
    border: 1px solid var(--gray-lighter);
    border-radius: 50%;
    height: 40px;
    margin: 0;
    width: 40px;
    text-align: center;
}

footer {
    background: #EBF4FF;
    width: 100%;
}

.background2 {
    height: 45px;
    padding-top: 17px;
}

.wide-button {
    min-width: 12em;
    margin-top: 1em;
}

#hero figure {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.newsimage {
    max-height: 50vh;
    object-fit: cover;
}

.contributors .contributor {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2,120,252,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
    max-height: 30px;
}

/* Bolt Article */
.blue {
    color: #0278FC;
}

.align-center {
    text-align: center;
}



/* div.row {
    border: 1px dashed crimson;
    padding: 2px;
}

div[class^=col] { 
    border: 1px dashed blue;
    padding: 2px;
} */
