<div class="bottom-block" transition-style="in:square:bottom-left">
    <h3>Find help for your dream project</h3>
    <div class="button-wrapper">
        <a class="button" href="https://people.boltcms.io/">Search for a developer</a>
        <a class="button" href="https://people.boltcms.io/join">Add yourself as a developer</a>
    </div>
</div>
