<div class="bottom-block" transition-style="in:square:bottom-right">
    <h3>Let's get started!</h3>
    <div class="button-wrapper">
        <a class="button" href="https://docs.bolt.cm/installation/installation">Install Bolt</a>
        <a class="button" href="/showcases">View websites built with Bolt</a>
    </div>
</div>
