section {
  margin: 4rem 0;
}
section:nth-of-type(2),
section:nth-of-type(6),
section:nth-of-type(10)  {
  padding: 4rem 0;

  transform: skew(0deg, -2deg);
  background: #D1DBDD;

  .container {
    transform:  skew(0deg, 2deg);
  }
}

section:nth-of-type(4),
section:nth-of-type(8),
section:nth-of-type(12) {
  padding: 4rem 0;

  transform: skew(0deg, 1.5deg);
  background: #D8C2B4;

  .container {
    transform:  skew(0deg, -1.5deg);
  }
}


.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators li {
  filter: invert(1);
}