body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h2 {
  line-height: 2;
}

p {
  line-height: 1.8rem;
}

ul li, ol li {
  line-height: 1.8rem;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

header.masthead h1 span.badge {
  font-size: 20%;
  transform: rotate(10deg);
  position: absolute;
  margin-left: -2rem;
}