body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

h2 {
  line-height: 2;
}

p {
  line-height: 1.8rem;
  font-size: 1.1rem;
}

ul li, ol li {
  line-height: 1.8rem;
}

img {
  max-width: 100%;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.rounded-pill {
  border-radius: 5rem;
}

header.masthead h1 span.badge {
  font-size: 20%;
  transform: rotate(10deg);
  position: absolute;
  margin-left: -2rem;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding: 0 1rem;

  h2 {
    width: 100%;
    display: block;
    text-align: center;
  }

  .logo {

    max-width: 250px;
    transition: box-shadow 0.3s ease-in-out;

    img {
      max-width: 100%;
    }

    &:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,0.11),
									0 2px 2px rgba(0,0,0,0.11),
									0 4px 4px rgba(0,0,0,0.11),
									0 6px 8px rgba(0,0,0,0.11),
									0 8px 16px rgba(0,0,0,0.11);
    }

  }

}

p.meta {
  color: #666;
  font-size: 1rem;
}