header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: url('../img/juan-davila-153912-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
      text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);

    }
    .masthead-subheading {
      font-size: 2rem;
      text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.7);

    }
  }

}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
        line-height: 6rem;
        text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
      }
      .masthead-subheading {
        font-size: 1.7rem;
        line-height: 3rem;
        font-style: italic;
        font-weight: 300;
        letter-spacing: 0.8px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
      }
    }
  }
}
