{% extends 'partials/_master.twig' %}

{% block content %}

{#  {% setcontent blocks = "blocks" orderby "-title"  %}#}
  {% setcontent blocks = "blocks" limit 100 %}

{% for block in blocks %}

  {% include 'partials/_section_' ~ block.variant|default('plain') ~ '.twig' %}

  {% if user %}
    <span class="edit-link"><a href="{{ block|edit_link }}"><strong>{{ __('general.phrase.edit') }}</strong></a></span> -
  {% endif %}

{% endfor %}

{% endblock content %}